.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 80%;
}

.list-group {
  margin: 100px;
  float: right;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
