.search-bar {
  margin: 40px 150px;
  text-align: left;
}

.search-bar input {
  width: 59%;
}

.video-item img {
  max-width: 60px;
}

.list-group {
  margin: 20px;
}

.loading {
  margin: 20px 150px;
  font-size: 50px;
}

.video-items {
  display: flex;
  flex-directon: row;
}

.video-details {
  margin: 20px 70px 0 140px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.details {
  padding: 10px;
}

.video-title {
  padding: 10px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
